
.catlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;

    width: 170px;
    height: 100vh;
    border-bottom: #242C2E solid 1px;
    border-right: #242C2E solid 1px;
    border: 5px solid hotpink;
}


