.makepostcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: purple 1px solid;
}

.innermakepost {

    border: 1px solid #fff; /* Witte rand van 1px solid */
    box-shadow: 0 0 10px rgba(222, 28, 28, 0.1);
    max-width: 600px; /* Optioneel: voeg een maximale breedte toe aan de container */
    width: 100%; /* Zorg ervoor dat de container de volledige breedte van de beschikbare ruimte inneemt */
    padding: 20px;
    border-radius: 8px;
}

.postbutton {

        border: 1px solid rgba(10, 180, 180, 1);
        background: rgba(20, 20, 20, .6);
        font-size: 18px;
        color: white;
        margin-top: 20px;
        padding: 10px 50px;
        cursor: pointer;
        transition: .4s;
        &:hover {
            background: rgba(20, 20, 20, .8);
            padding: 10px 80px;
        }
}




