.default-link h1 {
    border-bottom: 1px solid transparent;
}

.active-link h1 {
    border-bottom: #242C2E solid 1px;
}

nav ul a,
nav ul a:visited {
    text-decoration: none;
}

nav a {
    font-size: 35px;
    color: white;
    font-weight: 700;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the middle */
    list-style-type: none;
    border-bottom: #242C2E solid 1px;
    padding: 0 40px; /* Adjust padding */
}

.searchbar {
    border-radius: 9px;
    width: 600px;
    height: 40px;
    border: none;
    background-color: #1A282D;
    color: white;
}

.mainlogo {
    display: flex;
    align-items: center;
}

.brandname {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
}

.navlogin {
    position: relative;
    display: inline-block;
}

.navprofile {
    display: flex;
    align-items: center;
}

.dropbtn {
    background: none;
    border: none;
    box-shadow: none;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    z-index: 1;
    transition: opacity 0.7s ease;
}

.dropdown-content2 a {
    font-size: 30px;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {
    border-bottom: #242C2E solid 1px;
}

/* Show the dropdown menu on hover */
.navlogin:hover .dropdown-content2 {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.navlogin:hover .dropbtn {
    color: black;
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav li {
        width: 100%;
        text-align: center;
    }

    .searchbar {
        margin-top: 5px;
        width: 350px;
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
    }

    .search {
        display: flex;
        justify-content: center;
    }



    .dropdown-content2 {
        display: none;
        /*position: absolute;*/
        z-index: 1;
        transition: opacity 0.7s ease;
        top: 100%; /* Position below dropdown button */
        left: -25%; /* Align with left edge of dropdown button */
        right: -25%; /* Align with right edge of dropdown button */
        /*background-color: #fff; !* Adjust as needed *!*/
        border: 1px solid #ccc; /* Adjust as needed */
        border-radius: 8px;
        padding: 10px; /* Adjust as needed */
       ;
    }

    .dropdown-content2 a {
        display: block;
        font-size: 30px;
        color: white; /* Adjust as needed */
        text-decoration: none;


    }

    .navlogin:hover .dropdown-content2 {
        display: block;
    }

    /* Apply margin to items below dropdown content */
    .navlogin:hover ~ .makepost,
    .navlogin:hover ~ .makepost {
        margin-top: 130px; /* Adjust as needed */
    }
}







/*.default-link h1 {*/
/*    border-bottom: 1px solid transparent;*/
/*}*/

/*.active-link h1 {*/
/*    border-bottom: #242C2E solid 1px;*/
/*}*/

/*nav ul a,*/
/*nav ul a:visited {*/

/*    text-decoration: none;*/
/*}*/

/*nav a {*/
/*    font-size: 35px;*/
/*    color: white;*/
/*    font-weight: 700;*/
/*}*/

/*nav ul {*/
/*    display: flex;*/
/*    padding-right: 40px;*/
/*    padding-left: 40px;*/
/*    padding-bottom: 5px;*/
/*    justify-content: space-between;*/
/*    list-style-type: none;*/
/*    border-bottom: #242C2E solid 1px;*/
/*    !*border: 5px solid red;*!*/
/*}*/


/*.searchbar {*/
/*    border-radius: 9px;*/
/*    width: 600px;*/
/*    height: 40px;*/
/*    background-color: hsla(200, 26%, 35%, 0.8);*/
/*    border: none;*/
/*    background-color: #1A282D;*/
/*    color: white;*/

/*}*/

/*.mainlogo {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*    !*border: 3px solid white;*!*/
/*}*/

/*.brandname {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    !*border: 3px solid white;*!*/
/*}*/

/*.search {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-self: center;*/
/*    !*border: 3px solid white;*!*/

/*}*/

/*.navlogin {*/
/*    !*display: flex;*!*/
/*    align-items: center;*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    !*border: 3px solid white;*!*/
/*}*/

/*.navprofile {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    !*border: 3px solid white;*!*/
/*}*/

/*.dropbtn {*/
/*background: none;*/
/*    !*padding: 14px;*!*/
/*    border: none;*/
/*    !*transition: background-color 0.3s ease, color 0.3s ease;*!*/
/*    box-shadow: none;*/
/*}*/

/*.dropdown-content2 {*/
/*    display: none;*/
/*    position: absolute;*/

/*    z-index: 1;*/
/*    transition: opacity 0.7s ease;*/
/*}*/

/*.dropdown-content2 a {*/
/* font-size: 30px;*/
/*}*/


/*!* Change color of dropdown links on hover *!*/
/*.dropdown-content2 a:hover {border-bottom: #242C2E solid 1px;}*/

/*!* Show the dropdown menu on hover *!*/
/*.navlogin:hover .dropdown-content2 {display: block;}*/

/*!* Change the background color of the dropdown button when the dropdown content is shown *!*/
/*!*.dropdown:hover .dropbtn {background-color: var(--onHoverColor)}*!*/
/*.navlogin:hover .dropbtn {color:black}*/
/*!*------Drop down menu end------*!*/



/*@media screen and (max-width: 600px) {*/
/*    nav ul {*/
/*        display: none ;*/
/*    }*/

/*    .dropdown:hover .dropdown-content {*/
/*        display: block;*/
/*    }*/

/*    .dropdown-content {*/
/*        display: none;*/
/*        position: absolute;*/
/*        background-color: #242C2E;*/
/*        width: 100%;*/
/*        text-align: center;*/
/*    }*/

/*    .dropdown-content a {*/
/*        display: block;*/
/*        padding: 10px;*/
/*        color: white;*/
/*        text-decoration: none;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 600px) {*/
/*    nav ul {*/
/*        display: none;*/
/*    }*/

/*    .dropdown {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        padding: 10px;*/
/*        background-color: #242C2E;*/
/*    }*/

/*    .dropdown-content {*/
/*        display: none;*/
/*        position: absolute;*/
/*        background-color: #242C2E;*/
/*        width: 100%;*/
/*        text-align: center;*/
/*    }*/

/*    .dropdown:hover .dropdown-content {*/
/*        display: block;*/
/*    }*/

/*    .dropdown-content a {*/
/*        display: block;*/
/*        padding: 10px;*/
/*        color: white;*/
/*        text-decoration: none;*/
/*    }*/
/*}*/


/*.default-link {*/
/*    border-bottom: 1px solid transparent;*/
/*}*/

/*.active-link {*/

/*    border-bottom: #242C2E solid 1px;*/
/*}*/

/*nav {*/

/*    display: flex;*/
/*    justify-content: space-between;*/

/*    border-bottom: #242C2E solid 1px;*/

/*}*/

/*ul {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    flex-basis: 30%;*/
/*    align-items: center;*/
/*    list-style-type: none;*/


/*}*/

/*nav ul a,*/
/*nav ul a:visited {*/

/*    text-decoration: none;*/
/*}*/

/*nav a {*/
/*    font-size: 35px;*/
/*    color: white;*/
/*    font-weight: 700;*/
/*}*/

/*.searchbar {*/
/*    border-radius: 9px;*/
/*    width: 600px;*/
/*    height: 40px;*/
/*    !*background-color: hsla(200, 26%, 35%, 0.8);*!*/
/*    border: none;*/
/*    background-color: #1A282D;*/
/*    color: white;*/
/*}*/