@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {

}



body {
    background: #0B1416;

}

p {
    font-family: 'Geologica', sans-serif;
    color: white;
}



h1, h2 , h3 {
    font-family: 'Geologica', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: white;
}


ul {
    list-style-type: none;
    font-family: 'Geologica', sans-serif;
    font-weight: 900;
}



li {
    color: white;
    font-weight: 100;
    list-style-type: none;
}

.pimsouterbox{
    display: flex;
    flex-direction: row;
    justify-content: center;

}


